.container {
  margin: 20px auto;
  border: 1px solid #808080;
  width: 400px;

  border-radius: 10px;

  background: rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 20px 10px;
}

.selectContainer {
  display: flex;

  margin: 0 auto;
}

.select {
  min-width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;

  border: 2px solid grey;
  border-radius: 3px;
}

/* .options {
  padding-top: 10px;
} */

.checkboxItem {
  display: flex;
  justify-content: space-around;

  padding-top: 10px;
  padding-bottom: 10px;
}
