.container {
  margin: 20px auto;
  border: 1px solid #808080;
  width: 320px;

  border-radius: 10px;

  background: rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.checkboxContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
}

/* .passwordInput {
 
} */

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}
.titleCheckbox {
  font-size: 20px;
  font-weight: 700;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 20px 10px;
}

.selectContainer {
  display: flex;

  margin: 0 auto;
}

.select {
  display: grid;
  grid-template-areas: 'select';

  position: relative;

  align-items: center;

  margin: 0;

  font-family: inherit;
  font-size: 1.25rem;

  width: 100%;

  border: 1px solid #777777;
  border-radius: 0.25em;

  padding: 0.25em 0.5em;

  cursor: pointer;
  line-height: 1.1;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #f9f9f9, #ffffff 33%);
}

.optionsItem {
  list-style-type: none;
  padding: 6px 20px;

  cursor: pointer;
}

.checkboxItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 10px;

  height: 100px;
}
/* Customize the label (the container) */
.label {
  display: block;
  position: relative;

  padding-left: 35px;
  margin-bottom: 12px;

  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmark p {
  margin-left: 35px;
}

/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.button {
  margin-top: 15px;
  margin-bottom: 15px;
}
